
<div class="logoback"><h1 class="logo">Squad Gaming</h1></div> <!--Logo Image Placeholder-->

<div class="selecttable"><table class="selecttable">
  <tr>
    <td><a class="selecttablelink" routerLink="login">Login</a></td>
    <td><a class="selecttablelink" routerLink="register">Register</a></td>
    <td *ngIf="getStatus()==3"><a class="selecttablelink" routerLink="accounts">Accounts</a></td>
    <td *ngIf="getStatus()==3"><a class="selecttablelink" routerLink="addgame">Add Game</a></td>
    <td><a class="selecttablelink" routerLink="gamespage">Games Page</a></td>
    <td><a class="selecttablelink" routerLink="browsepage">Browse Page</a></td>
  </tr>
</table>
</div>

<router-outlet></router-outlet>