
<div class="logoback"><h1 class="logo">Squad Gaming</h1></div> <!--Logo Image Placeholder-->

<div class="selecttable"><table class="selecttable">
  <tr>
    <td><a class="selecttablelink" routerLink="login">Login</a></td>
    <td><a class="selecttablelink" routerLink="register">Register</a></td>
    <td><a class="selecttablelink" routerLink="moviepage">Movie Page</a></td>
    <td><a class="selecttablelink" routerLink="browsepage">Browse Page</a></td>
  </tr>
</table>
</div>
<!--<input type="text"/>
<br/>
<br/>
<div class="selectdiv">
  <label>
    <select>
      <option value="lorem">Lorem</option>
      <option value="ipsum">Ipsum</option>
      <option value="place">Place</option>
      <option value="holder">Holder</option>
    </select> 
  </label>
</div>
<br/>
<br/>
<br/>               
<input type="button" value="Button"/>
<input type="reset" value="Reset"/>
<input type="submit" value="Submit"/>-->

<div><router-outlet></router-outlet>

