<form>
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" name="username" maxlength="20" [(ngModel)] = "rUsername"/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password" maxlength="20" [(ngModel)] = "rPassword"/></td>
        </tr>
        <tr>
            <td><label>Confirm Password:</label></td>
            <td><input type="password" name="confirmpass" maxlength="20" [(ngModel)] = "rConfirmPassword"/></td>
        </tr>
    </table>
    <input type="button" (click)="check()" routerLink="../login" value="Submit"/>
</form>