/* You can add global styles to this file, and also import other style files */
body {
    background-color: #222222;
    color: #ffffff
  }
  
  input[type=text] {
    border: 0px;
    border-radius: 4px;
    background-color: #666;
    color: #ffffff
  }
  
  input[type=text]:focus {
    background-color: #f66;
  }
  
  /*select {
    padding: 4px 4px;
    border: none;
    border-radius: 4px;
    background-color: #666;
  }*/
  
  .selectdiv {
    float: left;
    position: relative;
    background-color: #666;
    border: none;
    border-radius: 4px;
    margin: 4px 4px;
    height: 28px;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border-radius: 4px;
    outline: 0;
    background-color: #666;
    border: none;
    display: block;
    top: 2px;
    width: 100%;
    max-width: 320px;
    height: 20px;
    float: right;
    margin: 0px 0px;
    padding: 0px 18px 0px 0px;
    font-size: 16px;
    color: #FFF;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
  }
  
  .selectdiv:after {
      content: '\2304';
      color: #ffffff;
      right: 6px;
      top: -4px;
      height: 14px;
      padding: 0px 0px 0px 0px;
      position: absolute;
      pointer-events: none;
  }
  
  select::-ms-expand {
  display: none;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #a66;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #F66;
  }
  input::-moz-focus-inner { 
    outline: 0;
    background-color: #F66;
  }
  input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=button]:active, input[type=submit]:active, input[type=reset]:active{
    outline: 0;
    background-color: #F66;
    border: 10;
    border-color: #AAF
  }
  