<head>
    <title>Games!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

 <!-- <button (click)="getAllGameData()">Load Data</button> -->


Enter a game to search for:<br>
<input type="text" id="gameSearchField" value="">
<button (click) ="gameSearchByName()">Find that Game!</button>


  
  <div class="container">
    <h2>Games</h2>
    <p>Everything that matters.</p>            
    <table id="game_table" class="table table-hover">
      <thead>
        <tr>
          <th>Game Title</th>
          <th>Publisher</th>
          <th>Overview</th>
          <th>ESRB</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </div>

  
  </body>
 
  <app-createreview></app-createreview>