<!--<head>
    <title>Games!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>-->

 <!-- <button (click)="getAllGameData()">Load Data</button> -->

  <div class="container">
    <!--<h2>Games</h2>
    <p>Everything that matters.</p>   -->         
    <table style="color: white" id="game_table" class="table table-hover">
      <thead>
        <tr>
          <th>Game Title</th>
          <th>Publisher</th>
          <th>Overview</th>
          <th>ESRB</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </div>

  <div class="container">
    <h3>Reviews</h3>
    <p>By the power of Greyskull</p>            
    <table style="color: white" id="review_table" class="table table-hover">
      <thead>
        <tr>
          <th>Review Title</th>
          <th>Score</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </div>
  <br/>
  <app-createreview></app-createreview>

  <app-forum></app-forum>